html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.slider__wrapper{
	position: relative; 
	height: 100vh;
}


.slider__navi {
	position: absolute;
  	top: 280vh;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 999;
 

}

.slider__navi a {
	display: block;
	height: 20px;
	width: 20px;
	margin: 20px 0;
	text-indent: -9999px;
	box-shadow: none;
	border-radius: 50%;
	background: rgba(0,0,0,0.2);
}

.slider__navi a.active {
	background: rgba(255,255,255,1);
}

.flex__container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap; 
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	height: 100vh;
	width: 100%;
	z-index: 1;
}

.flex__container.flex--active {
	z-index: 2;
}

.text--sub {
	font-size: 12px;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.text--big {
	/* font-family: 'Poppins', sans-serif; */
	font-size: 7.5em;
	font-weight: 700;
	line-height: 110px;
	margin-left: -8px;
}

	@media (max-width: 640px) {
		.text--big {
			font-size: 2.5em;
			margin-left: 0;
		}
	}

.text--normal {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.8);
	line-height: 22px;
	margin-top: 25px;
}

.text__background {
	/* font-family: 'Poppins', sans-serif; */
	position: absolute;
	left: 72px;
	bottom: -60px;
	color: rgba(0,0,0,0.05);
	font-size: 170px;
	font-weight: 700;
}

.flex__item {
	height: 100vh;
	color: #fff;
	transition: transform 0.1s linear;
}

.flex__item--left {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	width: 75%;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;
}

.flex__item--right {
	width: 25%;
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
	opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
	opacity: 1;
	transition: transform 0.1s linear;
}

/* Blue */

.flex--blue .flex__item--left {
	background: #3e9fe6;
	transition: all 0.1s linear 0s;
}

.flex--blue .flex__item--right {
	background: #d3eaef;
}

/* Yellow */

.flex--yellow .flex__item--left {
	background: #f8d41f;
}

.flex--yellow .flex__item--right {
	background: #f4ecc5;
}

/* Blaziken */

.flex--red .flex__item--left {
	background: #f64f37;
}

.flex--red .flex__item--right {
	background: #ffebcd;
}

/* DarkBlue */

.flex--darkblue .flex__item--left {
	background: #476089;
}

.flex--darkblue .flex__item--right {
	background: #ade8f7;
}

/* Zekrom */

.flex--gray .flex__item--left {
	background: #424242;
}

.flex--gray .flex__item--right {
	background: #a7bcbb;
}

.flex__content {
	margin-left: 80px;
	width: 55%;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}
@media (max-width: 640px){
	.flex__content {
		margin-left: 4em;
		width: 65%;
	}
}

.isabel_img {
	position: absolute;
	bottom: 25px;
	right: 15%;
	max-height: 50vw;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.43s 0.6s, transform 0.45s 0.65s cubic-bezier(0, 0.88, 0.45, 0.93);
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
	transform: translate3d(0,-200%,0);
	opacity: 0;
}

.flex__container.animate--start .isabel_img {
	transform: translate3d(-200px,0,0);
	opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
	transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
	transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
	transform: translate3d(0,200%,0);
	opacity: 0;
}

.flex__container.animate--end .isabel_img {
	transform: translate3d(200px,0,0);
	opacity: 0;
}


.headerPanel{
		background: url('https://isabelvaz.com/wp-content/uploads/2020/03/IMG_0875-scaled.jpeg');
		background-size: cover;
		background-attachment: fixed;
		background-position: center left;
	
}

@media (max-width: 768px){
	.headerPanel{
		background-position: center center;
	}
}


.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-y: hidden;
	transition: 0.5s;
  }
  
  .overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
  }
  
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
	.overlay {overflow-y: auto;}
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
  }

  .hover,
  .active{
	  text-decoration: underline;
	  text-underline-position: under
  }

  .transition-all{
	transition-property: all;
	transition-duration: .5s;
  }